<%- include('../partials/head_start') %>
    <link rel="stylesheet" href="/assets/css/album_details.css">

    <title>iPlayMusic | Album Details</title>
<%- include('../partials/head_end') %>

    <%- include('../partials/header_start') %>
        Album
    <%- include('../partials/header_end') %>
    

    <main>
        <section class="banner" style="background-image: url('/assets/img/pexels-photo-03.png');">
            <section class="">
                <h1>Old Town Road</h1>
                <p class="head-name">12 Songs</p>
            </section>
            <section class="">
                <p>genres hashtags</p>
                <ul class="item-list">
                    <li class="item">#country</li>
                    <li class="item">#country road</li>
                </ul>
            </section>
        </section>

        <section class="all-songs">
            <section class="heads">
                <p class="head-name">All Songs</p>
            </section>
            <ul class="item-list">
                <!-- Items here -->
                <li class="item">
                    <article class="item-inner">
                        <div class="item-icon" style="background-image: url('/assets/img/button_play.png');"></div>
                        <section class="item-details">
                            <h3 class="item-title">Old Town Road</h3>
                            <p class="item-subtitle">Billy Ray Cyrus</p>
                        </section>
                        <section class="item-songs">
                            <p>3:58</p>
                        </section>
                    </article>
                </li>

                <li class="item">
                    <article class="item-inner">
                        <div class="item-icon" style="background-image: url('/assets/img/button_play.png');"></div>
                        <section class="item-details">
                            <h3 class="item-title">Old Town Road</h3>
                            <p class="item-subtitle">Billy Ray Cyrus</p>
                        </section>
                        <section class="item-songs">
                            <p>2:24</p>
                        </section>
                    </article>
                </li>

                <li class="item">
                    <article class="item-inner">
                        <div class="item-icon" style="background-image: url('/assets/img/button_play.png');"></div>
                        <section class="item-details">
                            <h3 class="item-title">Old Town Road</h3>
                            <p class="item-subtitle">Billy Ray Cyrus</p>
                        </section>
                        <section class="item-songs">
                            <p>5:15</p>
                        </section>
                    </article>
                </li>

                <li class="item">
                    <article class="item-inner">
                        <div class="item-icon" style="background-image: url('/assets/img/button_play.png');"></div>
                        <section class="item-details">
                            <h3 class="item-title">Old Town Road</h3>
                            <p class="item-subtitle">Billy Ray Cyrus</p>
                        </section>
                        <section class="item-songs">
                            <p>3:36</p>
                        </section>
                    </article>
                </li>
            </ul>
        </section>
    </main>    


    <div id="lower-menu_wave">
        <%- include('../partials/lower-menu') %>
    </div>

<%- include('../partials/body_end') %>