<%- include('../partials/head_start') %>
    <link rel="stylesheet" href="/assets/css/albums.css">

    <title>iPlayMusic | Albums</title>
<%- include('../partials/head_end') %>

    <%- include('../partials/header_start') %>
        Music
    <%- include('../partials/header_end') %>
    

    <div id="lower-menu_music">
        <%- include('../partials/lower-menu') %>
    </div>

<%- include('../partials/body_end') %>