<%- include('../partials/head_start') %>
    <link rel="stylesheet" href="/assets/css/featured.css">

    <title>iPlayMusic | Featured</title>
<%- include('../partials/head_end') %>

    <%- include('../partials/spinner') %>

    <%- include('../partials/header_start') %>
        Featured
    <%- include('../partials/header_end') %>

    <main>
        <h1 class="gradient-text">Featured</h1>

        <div id="featured-container">
            
        </div>
    </main>

    <div id="lower-menu_microphone">
        <%- include('../partials/lower-menu') %>
    </div>

    <template id="template-featured-item">
        <a href="" class="item-link">
            <article class="featured-item" style="background-color: #E0E0E0">
                <section class="item-details">
                    <h1 class="item-title"></h1>
                    <p class="item-subtitle"></p>
                </section>
            </article>
        </a>
    </template>

    <script src="/assets/js/index.js"></script>

<%- include('../partials/body_end') %>