<%- include('../partials/head_start') %>
    <link rel="stylesheet" href="/assets/css/featured.css">

    <title>iPlayMusic | Featured</title>
<%- include('../partials/head_end') %>

    <%- include('../partials/header_start') %>
        Featured
    <%- include('../partials/header_end') %>

    <main>
        <h1 class="gradient-text">Featured</h1>

        <article class="featured-item" style="background-image: url('/assets/img/pexels-photo-02.png');">
            <section class="item-details">
                <h1 class="item-title">The Greatest Showman</h1>
                <p class="item-subtitle">Soundtrack</p>
            </section>
        </article>

        <article class="featured-item" style="background-image: url('/assets/img/pexels-photo-01.png');">
            <section class="item-details">
                <h1 class="item-title">The Greatest Showman</h1>
                <p class="item-subtitle">Soundtrack</p>
            </section>
        </article>
    </main>

    <div id="lower-menu_microphone">
        <%- include('../partials/lower-menu') %>
    </div>

<%- include('../partials/body_end') %>