<%- include('../partials/head_start') %>
    <link rel="stylesheet" href="/assets/css/playlists.css">

    <title>iPlayMusic | Playlists</title>
<%- include('../partials/head_end') %>

    <%- include('../partials/header_start') %>
        Playlists
    <%- include('../partials/header_end') %>
    

    <main>
        <section class="banner" style="background-image: url('/assets/img/soundwave.png');">
            <section class="">
                <h1>Playlists</h1>
            </section>
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"></div>
                    <div class="swiper-slide"></div>
                    <div class="swiper-slide"></div>
                    <div class="swiper-slide"></div>
                    <div class="swiper-slide"></div>
                </div>
            </div>
            <h2 class="playlist-title">Top 50 Rock Ballads</h2>
        </section>

        <section class="all-songs">
            <ul class="item-list">
                <!-- Items here -->
                <li class="item">
                    <article class="item-inner">
                        <div class="item-icon" style="background-image: url('/assets/img/button_play.png');"></div>
                        <section class="item-details">
                            <h3 class="item-title">Old Town Road</h3>
                            <p class="item-subtitle">Billy Ray Cyrus</p>
                        </section>
                        <section class="item-songs">
                            <p>3:58</p>
                        </section>
                    </article>
                </li>

                <li class="item">
                    <article class="item-inner">
                        <div class="item-icon" style="background-image: url('/assets/img/button_play.png');"></div>
                        <section class="item-details">
                            <h3 class="item-title">Old Town Road</h3>
                            <p class="item-subtitle">Billy Ray Cyrus</p>
                        </section>
                        <section class="item-songs">
                            <p>2:24</p>
                        </section>
                    </article>
                </li>

                <li class="item">
                    <article class="item-inner">
                        <div class="item-icon" style="background-image: url('/assets/img/button_play.png');"></div>
                        <section class="item-details">
                            <h3 class="item-title">Old Town Road</h3>
                            <p class="item-subtitle">Billy Ray Cyrus</p>
                        </section>
                        <section class="item-songs">
                            <p>5:15</p>
                        </section>
                    </article>
                </li>

                <li class="item">
                    <article class="item-inner">
                        <div class="item-icon" style="background-image: url('/assets/img/button_play.png');"></div>
                        <section class="item-details">
                            <h3 class="item-title">Old Town Road</h3>
                            <p class="item-subtitle">Billy Ray Cyrus</p>
                        </section>
                        <section class="item-songs">
                            <p>3:36</p>
                        </section>
                    </article>
                </li>
            </ul>
        </section>

        <button class="border-button">Listen All</button>
    </main>    


    <div id="lower-menu_wave">
        <%- include('../partials/lower-menu') %>
    </div>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        const swiper = new Swiper('.swiper-container', {
            slidesPerView: 2,
            spaceBetween: 0,
            loop: true,
            centeredSlides: true
        });
    </script>

<%- include('../partials/body_end') %>